@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<h4>Gintaras Volkvičius</h4>

<address>
    Pašilės g. 37<br />
    Kaunas, LT-51375<br />
    <abbr title="Phone">Phone:</abbr>
    + 370 64 555 608
</address>

<address>
    <strong>Support:</strong> <a href="mailto:gintaras.volkvicius@gmail.com">gintaras.volkvicius@gmail.com</a><br />
</address>
